.bg-grey {
    background: #ccc !important;
}

.bg-black {
    background-color: #000 !important;
}

.bg-facebook {
    background: $brand-facebook !important;
}

.bg-twitter {
    background: $brand-twitter !important;
}

.bg-linkedin {
    background: $brand-linkedin !important;
}
